*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
 
}
body{
    background-image: url("sky.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.mypic{
    height: 80px;
    width: 50%;
    background: rgba(0,0,0,0.5);
}
.nav{
    height: 80px;
    width: 50%;
    background: rgba(0,0,0,0.5);
}
.container{
    display: flex;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    padding-top: 10px;
    margin-left: 20px;
}
ul{
    display: flex;
    justify-content: flex-end;
  
    text-decoration: none;
}
li {
    padding: 28px;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.active, .nav:hover{
    color: yellow;
    text-decoration: underline;
    font-weight: bold;
}

h1{
    text-align: center;
    margin-top: 100px;
    color: white;
    text-shadow: 3px 5px 5px red;
}
button{
    height: 50px;
    width: 180px;
    border-radius: 5%;
    background: rgb(7, 7, 233);
    font-size: 20px;
    text-align: center;
    margin-left: 42%;
    margin-top:8% ;
}
button:hover{
    color: rgb(250, 226, 8);
    background: rgba(0,0,0,0.5);
    font-weight: bold;
}
.size{
    height: auto;
    width: 100%;
    background: none;
    margin-top:40vh ;
    border-radius: 40px;
    display: flex;
}
.moon{
    display: flex;
}
.info{
    
    height: 87vh;
    width: 40%;
    background:white;
    margin-left: 150px;
    border-radius: 10px;
}
.icon{
    display:flex;
    
}
.for{
   width: 40%;
    background:rgba(0,0,0,0.5);
    margin-left: 55px;
    border-radius:10px ;  height: 500px;

}


h2{
    padding: 20px;
    color: black;
    
}
.real{
    float: left;
    margin-left: 60%;
    color: rgb(200, 252, 13);
}

.next{
    color: black;
    font-size: 30px;
 padding: 10px;
}  
input[type=text]{
    width: 48%;
    height: 30px;
    margin-top: 30px;
}
input[type=email]{
    width: 98%;
    height: 30px;
}

input[type=email]:focus {
    background-color: rgb(1, 22, 29);
}
input[type=text]:focus {
    background-color: rgb(3, 35, 46);
  }
textarea:focus {
    background-color: rgb(2, 25, 32);
  }
input[type=submit]{
    width: 47%;
    height: 40px;
    color:white;
    margin-top: 20px;
    background: rgb(6, 6, 216);
}
form{
    margin-left: 10px;
}
.footer{
    height: 180px;
    width: 90%;
    background: black;
    margin: 40px;
}

h5{
    
    color: yellow;
    margin-bottom:20px;
}
.green{
    color: rgb(243, 18, 142);
}
.small{
      height: 60px;
      width: 60px;
      margin-left: 4%;
      border-radius: 50%;
}
marquee{
    color: yellow;
    font-weight: bold;
    margin: 20px;
    font-size:20px ;
}
h3{
    color: black;
    margin: 10px;
}
.map{
    height: auto;
    width: auto;
    background: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.app{
   
    margin-top: 10px;
    margin-bottom:20px ;
    margin-left: 20px;
}
.app:hover{
   background: none;
   cursor: pointer;
   
}

.fa-skype {
    background: #00aff0;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
   

  }
  
  .fa:hover {
      opacity: 0.7;
      background: none;
      color: rgb(0, 255, 13);
      margin: 10px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 10px;
}
.fa-instagram {
    background: #125688;
    color: white;
    margin: 10px;
}
.fa-reddit {
    background: #ff5700;
    color: white;
   margin: 10px;
  }
  .sky{
      border-radius: 20px;
      background:#E6E6FA;
      color:#2F4F4F;
      height: 40px;
      width: 220px;
      font-size: 20px;
  }
  .sky:hover{
      cursor: pointer;
      background:	#C71585;
      color:#FFFF00;
  }
  p{
      font-size: 30px;
      color: cornsilk;
      padding: 15px;
      font-weight: bold;
      font-family: 'Times New Roman', serif;

  }


@media only screen and (max-width:700px){
    .size{
        height: 46%;
        width: 100%;
        margin: 6 px 0;
        display: flex;
    }
}
@media only screen and (max-width:500){
    .size{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }
}
